{% raw %}<script setup lang="ts">
const title = "{{ project_name }}";
const description = "{{ description }}";
</script>

<template>
  <div class="container">
    <h1>{{ title }}</h1>
    <p>{{ description }}</p>
  </div>
</template>{% endraw %}
